asgiref==3.10.0
colorama==0.4.6
Django==5.2.8
django-extensions==4.1
django-widget-tweaks==1.5.0
iniconfig==2.3.0
mysqlclient==2.2.7
packaging==25.0
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.1
pytest-django==4.11.1
sqlparse==0.5.3
tzdata==2025.2
gunicorn
whitenoise
dj-database-url
psycopg2-binary
